.text-field{
    width: 3rem;
    padding:8px;
    border: solid 2px var(--grey-1);
    border-radius: 4px;
    font-size:1.125rem;
    background-repeat: no-repeat;
  }
  .text-field.icon{
    background-image: url(../../assets/Blyant.png);
    background-position: center;
    background-size: 16px;
  }
  .text-field:not(.icon){
    background-position: right center;
    padding-right:16px;
  }
  .text-field:focus{
    background-image: none;
  }
  .text-field:focus-visible{
    outline-color:var(--blue-1);
  }


  /* States */
  .success .text-field{
    border-color:var(--green-1);
    background-image: url(../../assets/svg/right.svg);
    
  }
  .failed-1 .text-field{
    border-color:var(--red-1);
  }
  .failed-2 .text-field{
    border-color:var(--red-2);
    background-image: url(../../assets/svg/wrong.svg);
    
  }

 
  