.App {
  --grey-1:#D9DBDE;
  --grey-2:#717683;
  --blue-1:#2078C9;
  --yellow-1:#E28902;
  --yellow-2:#E28902;
  --green-1: #11B72B;
  --red-1: #E77070;
  --red-2: #D71010;
  --red-3:#CC1212;
}


.App {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size:1.125rem;
  max-width: 1280px;
  margin:20px auto;
  padding:10rem;
}
@media (max-width: 1280px) {
  .App{
    padding:5rem;
  }
}
.flex{
  display:flex;
}